.add-new-image{
    border-radius: 50%;
    border: 2px solid #a379c9;
    background-color: #adb9e3;
    color: #a379c9;
    font-size: 40px;
    margin-bottom: 40px;
    padding: 10px;
    cursor: pointer;

}

.add-new-image:hover{
    background-color: #a379c9;
    border: 2px solid #adb9e3;
    color: #adb9e3;
}

.add-submit-form-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-file-input{
    visibility: hidden;
}

.title-input{
    margin-top: 20px;
}

.file-name{
    margin-bottom: 30px;
}

.upload-update-section-title{
    text-align: center;
}

.title-input-label{
    text-align: left;
}

.upload-input-label{
    margin-bottom: 20px;
}

.output{
    margin-bottom: 30px;
}

.progress-bar{
    height: 5px;
    background-color: #a379c9;
    margin-top: 20px;
}